@page {
    size: A4 portrait;
    margin: 10mm;
}

.quotation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    max-width: 190mm;
}

.quotation-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
}

.quotation-logo img {
    width: 100%;
    height: auto;
}

.quotation-company-info {
    text-align: right;
    max-width: 250px;
}

.quotation-company-info h2 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.quotation-company-info p {
    margin: 2px 0;
    font-size: 10px;
    line-height: 1.4;
}

.quotation-details {
    margin-bottom: 10px;
    font-size: 10px;
    width: 100%;
    max-width: 190mm;
    position: relative;
}

.quotation-details p {
    margin: 3px 0;
}

.quotation-details strong {
    color: #000;
    font-weight: bold;
}

.quotation-date {
    font-size: 10px;
    font-weight: bold;
    margin-top: -16px;
    margin-left: 200px;
}

h3 {
    margin: 10px 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    margin-right: 20px;
}

.quotation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 9px;
    max-width: 190mm;
}

.quotation-table th, .quotation-table td {
    border: 1px solid #000;
    padding: 4px;
    text-align: center;
}

.quotation-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.quotation-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.quotation-footer p {
    margin: 2px 0;
    font-size: 10px;
    margin-left: -360px;
}

.quotation-footer strong {
    font-weight: bold;
}
