@page {
    size: A4;
    margin: 0;
}

/* Quotation Container */
.viriya-wrapper {
    padding: 10px;
    position: relative;
    page-break-before: always;
}

/* Header Section */
.viriya-header {
    position: relative;
    margin-bottom: 10mm;
}

.viriya-header h1 {
    color: green;
    margin-bottom: 1px;
}

/* Quotation Info (No & Date) */
.viriya-details {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1px;
}

/* Logo Container */
.viriya-logo {
    display: flex;
    align-items: center;
    background-color: #5cdc43;
    padding: 5px;
    border: 2px solid black;
    width: fit-content;
    position: absolute;
    right: 20px;
    top: 0;
}

/* Logo Image */
.viriya-logo img {
    height: 50px;
    width: auto;
    margin-right: -10px;
}

/* Vertical Divider */
.viriya-divider {
    width: 2px;
    height: 50px;
    background-color: black;
    margin: 0 10px;
}

/* Logo Text */
.viriya-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.viriya-brand h1 {
    font-family: "Belanosima", serif;
    font-weight: 600;
    font-size: 16px;
    color: #025f02;
    margin: 0;
}

.viriya-brand p {
    font-size: 12px;
    font-weight: bold;
    color: #025f02;
    margin: 0;
    text-transform: uppercase;
}

/* Quotation Details */
.viriya-recipient {
    margin-top: 100px;
    font-size: 12px;
}

/* Table Styling */
.viriya-table {
    margin-top: 20px;
}

.viriya-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.viriya-table th, .viriya-table td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

.viriya-table th {
    background-color: lightgreen;
    text-align: center;
    font-size: 16px;
}

/* Footer */
.viriya-footer {
    margin-top: 20px;
    padding: 10px;
    background-color: lightgreen;
    text-align: center;
}
