@page {
    size: A4;
    margin: 0;
}

/* Cash Invoice Container */
.cash-invoice {
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
    padding: 40px;
    background-color: #ffe9e2;
    box-sizing: border-box;
}

/* Cash Invoice Content */
.cash-invoice-content {
    border: 2px solid #2c6536;
    padding: 20px;
    box-sizing: border-box;
}

/* Cash Invoice Header */
.cash-invoice-header {
    position: relative;
    text-align: center;
    border-bottom: 2px solid #2c6536;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.cash-invoice-header h1 {
    margin: -10px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.cash-invoice-underline {
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: -5px;
    height: 2px;
    background-color: #2c6536;
}

.cash-invoice-header h2 {
    position: relative;
    margin: 1px 0;
    font-size: 18px;
    margin-top: 22px;
    text-transform: uppercase;
}

/* Cash Invoice Logo */
.cash-invoice-logo {
    position: absolute;
    top: 0;
    right: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid #2c6536;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.cash-invoice-logo img {
    width: 50px;
    height: 50px;
    border-radius: 1px;
    margin-top: -5px;
}

/* Cash Invoice Details */
.cash-invoice-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
}

.cash-invoice-details div {
    width: 48%;
    padding: 5px;
    box-sizing: border-box;
    height: 50px;
}

/* Cash Invoice Table */
.cash-invoice-table {
    width: 620px;
    border-collapse: collapse;
    padding-right: 100px;
    margin-bottom: 20px;
    margin-left: -22px;
}

.cash-invoice-table thead th {
    border: 2px solid #2c6536;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    text-transform: uppercase;
    color: #2c6536;
    background-color: #ffe9e2;
}

.cash-invoice-table tbody td {
    border-left: 2px solid #2c6536;
    border-right: 2px solid #2c6536;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    vertical-align: middle;
    height: 40px;
}

.cash-invoice-table tbody tr:last-child td {
    border-bottom: 2px solid #2c6536;
}

/* Cash Invoice Total Section */
.cash-invoice-total {
    display: flex;
    margin-left: 440px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px; 
    border: 2px solid #2c6536;
}

/* Cash Invoice Footer */
.cash-invoice-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #2c6536;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cash-invoice-footer-left, .cash-invoice-footer-right {
    width: 45%;
}

.cash-invoice-footer-divider {
    height: 100%;
    width: 2px;
    background-color: #2c6536;
    margin: 0 20px;
}

.cash-invoice-footer-left p, .cash-invoice-footer-right p {
    font-size: 12px;
    margin: 0;
}

.cash-invoice-footer-right {
    text-align: right;
}

/* Cash Invoice Thank You Section */
.cash-invoice-thank-you {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.cash-invoice-thank-you::after {
    content: '';
    display: block;
    width: 618px;
    height: 2px;
    background-color: #2c6536;
    margin: 10px auto 0;
    margin-bottom: -2px;
}
